.imagen-card {
    width: 50px;
    height: 90px;
    margin-left: 40px;
}

.cuerpo-body {
    display: flex;
    justify-content: space-around;
}

.textoCuerpo--margin {
    margin-top: 20px;
}

.btn {
    font-size: 16px;
}

.btn-secondary {
    border-radius: 15px;
}

.countNumber {
    font-family: sans-serif;
    font-size: 16px;
    margin: 20px 20px 0px 20px;
}