.cartTitle {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.cartSubtitle {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.cartText {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.cartContainer {
    width: 99%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.imagen-card {
    width: 50px;
    height: 90px;
    margin-left: 40px;
}

.cuerpo-body {
    display: flex;
    justify-content: space-around;
}

.textoCuerpo--margin {
    margin-top: 20px;
}

.btn {
    font-size: 16px;
}

.btn-secondary {
    border-radius: 15px;
}

.btn-ml {
    margin-left: 40px;
}

.btn-mb {
    margin-bottom: 30px;
}

.priceContainer {
    display: flex;
    justify-content: flex-start;
    margin: 50px 0px 20px 100px;
}

.totalPrice {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.deleteProducts {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0px 20px 50px;
}

.formContainer {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}