.orderTitle {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.containerLink {
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.btn {
    font-size: 16px;
}

.btn-secondary {
    border-radius: 15px;
}

.btn-ml {
    margin-left: 40px;
}