.greetingContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 100px;
}

.greetingStyle {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #f075ad;
    
}